/*====@font-face====*/
@font-face {
    font-family: 'quarkbold';
    src: url('../font/quark-bold-webfont.woff2') format('woff2'),
         url('../font/quark-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quarklight';
    src: url('../font/quark-light-webfont.woff2') format('woff2'),
         url('../font/quark-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*====Global====*/
html{
  font-family: 'quarkbold';
}
h1,h2,h3,h4,h5,h6{
  font-family: 'quarkbold';
}
/*====Body Section====*/
body{
  background-image: url(../img/Background-page.png);
  background-size: cover;
}
.bar{
  background-image: url(../img/bluebar.png);
  background-size: cover;
  height: 11%;
}
ul{
  font-size: 1.5em;
  font-family: 'quarkbold';
}
li {
  color: #3399CC; /* bullet color */
}
li span{
  color: black; /* bullet color */
}
.career li span{
  font-size: .7em;
}
/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 1.2em!important;
  font-family: 'quarkbold';
  margin-top:-0%!important;
}


/***********************
  Ribbon
************************/
.apply-ribbon {
  position: fixed;   z-index: 9999;   width: 70px;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
@media only all and (min-width: 768px) { .apply-ribbon { width: auto; } }

.stick-left { left: 0; }
.stick-right { right: 0; }
.stick-top { top: 0; }
.stick-bottom { bottom: 0; }

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}


@media only screen and (min-device-width: 375px)  {
    .bar{
      height: 6%;
    }
    .content{
      text-align: center;
    }
    .msc{
      font-size: 1.5em;
    }
    .phd{
      font-size: 1.5em;
    }
    .career{
      font-size: 1.5em;
    }
    .msc h1{
      font-size: 2em;
    }
    .phd h1{
      font-size: 2em;
    }
    .career h1{
      font-size: 2em;
    }
    .stick-bottom {
      bottom: 1%;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
  .bar{
    height: 6%;
  }
  .content{
    text-align: center;
  }
  .msc{
    font-size: 1.5em;
  }
  .phd{
    font-size: 1.5em;
  }
  .career{
    font-size: 1.5em;
  }
  .msc h1{
    font-size: 2em;
  }
  .phd h1{
    font-size: 2em;
  }
  .career h1{
    font-size: 2em;
  }
  .stick-bottom {
    bottom: 1%;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
  .bar {
    height: 8%;
  }
  .msc h1{
    font-size: 2em;
  }
  .phd h1{
    font-size: 2em;
  }
  .career h1{
    font-size: 2em;
  }
  .stick-bottom {
    bottom: 1%;
  }
  .msc{
    font-size: 1em;
  }
  .phd{
    font-size: 1em;
  }
  .career{
    font-size: 1em;
  }
}
