/*====@font-face====*/
@font-face {
    font-family: 'quarkbold';
    src: url('../font/quark-bold-webfont.woff2') format('woff2'),
         url('../font/quark-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quarklight';
    src: url('../font/quark-light-webfont.woff2') format('woff2'),
         url('../font/quark-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*====Global====*/
html{
  font-family: 'quarkbold';
}
h1,h2,h3,h4,h5,h6{
  font-family: 'quarkbold';
}
/*====Body Section====*/
body{
  background-image: url(../img/Background-page.png);
  background-size: cover;
}
.bar{
  background-image: url(../img/bluebar.png);
  background-size: cover;
  height: 11%;
}
ul{
  font-size: 1.5em;
  font-family: 'quarkbold';
}
li {
  color: #3399CC; /* bullet color */
}
li span{
  color: black; /* bullet color */
}
.career li span{
  font-size: .7em;
}
/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
  font-family: 'quarkbold';
}

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #3399CC;
  border-color: #336699;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #3399CC;
    color: #3399CC;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #3399CC;
    border-color: #3399CC;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #336699;
    color: #336699;
    box-shadow: none;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.4em;
    margin-top: -2%;
}.btn-start {
  color: #EF4A23;
  background-color: #FFFFFF;
  border-color: #EF4A23;
}

.btn-start:hover,
.btn-start:focus,
.btn-start:active,
.btn-start.active,
.open .dropdown-toggle.btn-start {
  color: #EF4A23;
  background-color: #EBEBEB;
  border-color: #EF4A23;
}

.btn-start:active,
.btn-start.active,
.open .dropdown-toggle.btn-start {
  background-image: none;
}

.btn-start.disabled,
.btn-start[disabled],
fieldset[disabled] .btn-start,
.btn-start.disabled:hover,
.btn-start[disabled]:hover,
fieldset[disabled] .btn-start:hover,
.btn-start.disabled:focus,
.btn-start[disabled]:focus,
fieldset[disabled] .btn-start:focus,
.btn-start.disabled:active,
.btn-start[disabled]:active,
fieldset[disabled] .btn-start:active,
.btn-start.disabled.active,
.btn-start[disabled].active,
fieldset[disabled] .btn-start.active {
  background-color: #FFFFFF;
  border-color: #EF4A23;
}

.btn-start .badge {
  color: #FFFFFF;
  background-color: #EF4A23;
}
