/*====@font-face====*/
@font-face {
    font-family: 'quarkbold';
    src: url('../font/quark-bold-webfont.woff2') format('woff2'),
         url('../font/quark-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quarklight';
    src: url('../font/quark-light-webfont.woff2') format('woff2'),
         url('../font/quark-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*====Global====*/
html{
  font-family: 'quarkbold';
}
h1,h2,h3,h4,h5,h6{
  font-family: 'quarkbold';
}
/*====Body Section====*/
body{
  background-image: url(../img/Background-page.png);
  background-size: cover;
}
.bar{
  background-image: url(../img/bluebar.png);
  background-size: cover;
  height: 11%;
}
ul{
  font-size: 1.5em;
  font-family: 'quarkbold';
}
li {
  color: #3399CC; /* bullet color */
}
li span{
  color: black; /* bullet color */
}
.career li span{
  font-size: .7em;
}
/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 1.2em!important;
  font-family: 'quarkbold';
  margin-top:-2%!important;
}


/***********************
  Ribbon
************************/
.apply-ribbon {   position: fixed;   z-index: 9999;   width: 70px; }
@media only all and (min-width: 768px) { .apply-ribbon { width: auto; } }

.stick-left { left: 0; }
.stick-right { right: 0; }
.stick-top { top: 0; }
.stick-bottom { bottom: 0; }
